body {
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin-top: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

#books-list {
    max-height: 400px;
    overflow-y: auto;
}
